<h1>Providers</h1>

<div id="providers"></div>

<ul style="list-style: none;">
  <% @providers.each do |provider| %>
    <li>
      <%= link_to provider.name, provider_path(provider) %>
    </li>
  <% end %>
</ul>
