<p>We are writing you to let you know that your appointment has been cancelled
by the provider.</p>

<p>We regret that your appointment has been cancelled. To view more appointments
  you could book, please visit our website.</p>

<p>Thanks and have a great day!</p>
