<h1 id="hometitle">Welcome to Access Point</h1>

<div>
  <p>This site is here to help people gain access to mental health care</p>
  <p>
    Providers: If you are a mental health professional, please log in using the
    Provider Sign In link. You will be able to add details about yourself and
    your practice after loggin in.
  </p>
  <p>
    Users: If you are seeking mental health care services, please log in using
    the User Sign In link. You will be able to search for providers by name,
    city, or zip code. You can then book and cancel appointments right here -
    no phone calls neccessary!
  </p>
</div>
