<h1 id="hometitle">Welcome to Access Point</h1>
<div class="container-fluid">
  <div class="row">
    <h3 id="homesubheading">Our mission is mental health care accessibilty</h3>
    <h5 id="homesubheading2">
      As an alternative to traditional phone-based booking practices, which
      can inhibit access to care,
      <br/>
      <strong>
        AccessPoint allows mental health professionals to post their open
        appointments for instant online booking.
      </strong>
    </h5>
  </div>
  <div class="row">
    <div class="card col-md-6">
      <div class="card-block">
        <h4 class="card-title padded" id="providerstitle">PROVIDERS</h4>
        <div class="padded">
          If you are a mental health professional, please log in with your
          google account using the Provider Sign In link. You will be able to
          add details about yourself and your practice after logging in. To add
          an appointment, simply click "Add an Appointment" from your profile page,
          fill out the form, and submit. You will be notified by email if a user
          books or cancels an appointment with you through this site.
          <br/>
          <br/>
          If an appointment you have posted is no longer available for booking,
          please remember to delete it from this site to avoid confusion.
          <br/>
          <br/>
          If you are also seeking care for yourself, simply log out and log back
          in using the User Sign In link - you can have two types of profiles
          on AccessPoint.
          <br/>
          <br/>
          Thanks and happy booking!
        </div>
      </div>
    </div>
    <div class="card col-md-6">
      <div class="card-block">
        <h4 class="card-title padded" id="userstitle">USERS</h4>
        <div class="padded">
          If you are seeking mental health care services, please log in using the
          User Sign In link. If you do not have a google account, you will be
          prompted to create one at this time.
          <br/>
          <br/>
          After signing in, you will be taken to the providers index page, where
          you can search by name, insurance provider, city, or zip code. You can
          then book and cancel appointments right here on the site - no phone
          calls neccessary!
          <br/>
          <br/>
          Your provider will receive an email when you book or cancel an
          appointment. If you do need to cancel an appointment, please remember
          to do so AT LEAST 24 HOURS IN ADVANCE so your provider can plan
          appropriately.
          <br/>
          <br/>
          Thanks and happy booking!
        </div>
      </div>
    </div>
  </div>
</div>
