<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-block">
        <h1 class="card-title" style="text-align: center; padding-top: 15px;">
          Resources
        </h1>
        <div class="appointments padded">
          <p style="font-size: 18px; text-align: center;">
            This is a non-exhaustive list of links to external <strong> mental
            health-related resources</strong> that we think might be of use to
            you.
            <br/>
            <strong>Feel free to click on any that interest you.</strong>
          </p>
          <br/>
          <div class="row">
            <div class="col-md-6" style="text-align: center;">
              <a href="https://www.adaa.org" class="in-block-link-2">
                Anxiety and Depression Association of America
              </a><br/>
              <a href="https://www.mentalhealth.gov/" class="in-block-link-2">
                MentalHealth.gov
              </a><br/>
              <a href="http://www.mentalhealthamerica.net/" class="in-block-link-2">
                Mental Health America
              </a><br/>
              <a href="http://www.mhresources.org/" class="in-block-link-2">
                Mental Health Resources
              </a><br/>
              <a href="http://www.nami.org/" class="in-block-link-2">
                National Alliance on Mental Illness
              </a><br/>
            </div>
            <div class="col-md-6" style="text-align: center; vertical-align: middle;">
              <a href="https://www.nimh.nih.gov" class="in-block-link-2">
                National Institute of Mental Health
              </a><br/>
              <a href="http://suicidepreventionlifeline.org/" class="in-block-link-2">
                National Suicide Prevention Lifeline (1-800-273-8255)
              </a><br/>
              <a href="https://www.psychologytoday.com/" class="in-block-link-2">
                Psychology Today
              </a><br/>
              <a href="https://www.samhsa.gov/" class="in-block-link-2">
                Substance Abuse and Mental Health Services Administration
              </a><br/>
            </div>
          </div>
          <br/>
          <p style="font-size: 18px; text-align: center;">
            Remember that this website and these resources will not necessarily
            help you out in an emergency. <strong>If you are having an emergency, please
            call 9-1-1.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
