<p>We are sending you this message because a patient has cancelled an appointment
with you through AccessPoint.</p>

<p>To login to our site, visit this link: <%= @url %></p>

<p>Thanks and have a great day!</p>
