.navbar {
  background-color: #BCE2CB;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: #97C9B9;
}

a.in-block-link {
  float: right;
  padding-right: 15px;
}

a.in-block-link:hover {
  color: #BCE2CB;
}

a.in-block-link-2:hover {
  color: #BCE2CB;
}

.padded {
  padding: 5px;
  font-size: 18px;
}

.appointments.padded {
  padding: 5px;
  font-size: 15px;
}

#hometitle {
  text-align: center;
}

#homesubheading {
  text-align: center;
}

#homesubheading2 {
  text-align: center;
  font-size: 18px;
}

#providerstitle {
  font-weight: bold;
  font-size: 25px;
  color: #216869;
}

#userstitle {
  font-weight: bold;
  font-size: 25px;
  color: #216869;
}

.center {
    margin: 0 auto;
    width: 60%;
}

.appointment-form {
  margin: 0 auto;
  width: 65%;
  font-size: 18px;
}

.provider-form {
  margin: 0 auto;
  width: 100%;
}

.provider.center {
  margin: 0 auto;
  width: 90%;
}
