<div class="container-fluid">
  <div class="row">
    <div class="center">
      <div class="col-sm-12 appointment-form">
        <div class="card-block" style="text-align: center;">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
